---
layout: default
---

<a name="about"></a>
<h2 data-magellan-destination="about">About</h2>
{% capture introduction %}{% include introduction.md %}{% endcapture %}
{{ introduction | markdownify }}

<a name="projects"></a>
<h2 data-magellan-destination="projects">Projects</h2>
{% capture projects %}{% include projects.md %}{% endcapture %}
{{ projects | markdownify }}

<a name="software"></a>
<h2 data-magellan-destination="software">Software</h2>
{% capture software %}{% include software.md %}{% endcapture %}
{{ software | markdownify }}

<a name="activities"></a>
<h2 data-magellan-destination="activities">Activities</h2>
{% capture activities %}{% include activities.md %}{% endcapture %}
{{ activities | markdownify }}

<a name="people"></a>
<h2 data-magellan-destination="people">People</h2>
{% assign groups = site.team | group_by: "year" | sort: "name" | reverse %}
{% for group in groups %}
  {% if group.name == "" %}
    {% for member in group.items %}
      {% if member.year == null %}
        {{ member.output }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
<h3>Visitors</h3>
{% for group in groups %}
  {% if group.name != "" %}
    <h4>{{ group.name }}</h4>
    {% for member in group.items %}
      {{ member.output }}
    {% endfor %}
  {% endif %}
{% endfor %}
