---
layout: default
---

<section id="about">
    <h2>About</h2>
    {% capture introduction %}{% include introduction.md %}{% endcapture %}
    {{ introduction | markdownify }}
</section>

<section id="projects">
    <h2>Projects</h2>
    {% capture projects %}{% include projects.md %}{% endcapture %}
    {{ projects | markdownify }}
</section>

<section id="software">
    <h2>Software</h2>
    {% capture software %}{% include software.md %}{% endcapture %}
    {{ software | markdownify }}
</section>

<section id="people">
    <h2>People</h2>
    {% assign by_member_type = site.team | group_by: "member_type" | sort: "name" %}
    {% for member in by_member_type[0].items %}
      {{ member.output }}
    {% endfor %}
    <h3>Past Members</h3>
    {% for member in by_member_type[1].items %}
      {{ member.output }}
    {% endfor %}
    <h3>Visitors</h3>
    {% assign by_years = by_member_type[2].items | group_by: "year" | sort: "name" | reverse %}
    {% for year in by_years %}
        <h4>{{ year.name }}</h4>
        {% for member in year.items %}
            {{ member.output }}
        {% endfor %}
    {% endfor %}
</section>
