<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/styles/main.css">
        <title>QuantGen Group - Michigan State University</title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-3">
                <img class="img-fluid" src="/images/quantgen-michigan-state-university-banner.png" alt="QuantGen Group at Michigan State University">
            </h1>
            <nav class="nav justify-content-center">
                <a class="nav-link" href="#about">About</a>
                <a class="nav-link" href="#projects">Projects</a>
                <a class="nav-link" href="#software">Software</a>
                <a class="nav-link" href="#people">People</a>
            </nav>
            {{ content }}
        </div>
    </body>
</html>
