<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
        <link rel="stylesheet" href="/vendor/skeleton/css/normalize.css">
        <link rel="stylesheet" href="/vendor/skeleton/css/skeleton.css">
        <title>QuantGen</title>
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
