<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/vendor/foundation/css/normalize.css">
        <link rel="stylesheet" href="/vendor/foundation/css/foundation.css">
        <link rel="stylesheet" href="/styles/main.css">
        <title>QuantGen Group - Michigan State University</title>
    </head>
    <body>
        <header class="row">
            <div id="title" class="medium-6 columns">
                <h1>QuantGen Group</h1>
            </div>
            <div id="msu-logo" class="medium-6 columns">
                <img src="/images/michigan-state.png" alt="Michigan State University">
            </div>
        </header>
        <div class="row">
            {{ content }}
        </div>
    </body>
</html>
