body {
    text-align: justify;
}

@media only screen {

    #title {
        text-align: center;
    }

    #msu-logo {
        text-align: center;
    }

}

@media only screen and (min-width: 40.063em) {

    #title {
        text-align: right;
    }

    #msu-logo {
        text-align: left;
    }

    #msu-logo img {
        margin-top: 15px;
    }

}

header {
    margin-bottom: 15px !important;
}


.team-member {
    margin-bottom: 15px !important;
}

.team-member .picture {
    margin-top: 6px;
    border-radius: 10px;
}

.team-member .email {
    margin-top: -10px;
    margin-bottom: 0;
}

.team-member ul {
    margin-bottom: 0;
}
